.footer{
    display:flex;
    background: #2d2d2d;
    flex-direction:column;
    justify-content:center;
    padding: 30px 0px 30px 0px;
    &__divlogo{
        margin:0px 0px 20px 30px;
    }
    &__logo{
        height:20px;
    }
    &__logocontenu{
        display:flex;
        align-items: center;
        margin-left: 30px;
    }
    &__logo1{
        font-size:20px;
        height: 20px;
        color:white;
        width: 25px;
    }
    &__contenu1{
        font-size:20px;
        height: 20px;
        color:white;
        margin:5px;
    }
    &__contenu{
        font-size:20px;
        margin-left: 30px;
        color:white;
        margin: 5px 5px 5px 30px;
    }
    &__lien {
        width: fit-content;
    }
    &__contenu{
        font-size:20px;
        margin-left: 30px;
        color:white;
        margin: 5px 5px 5px 30px;
    }
}