.headermenu{
    display:flex;
    justify-content: space-between;
    margin-top: 21px;
    max-width: 376px;
    &__fleche{
        font-size:20px;
        margin-left: 22px;
    }
    &__image{
        height: 25px;
        margin-right: 30%;
    }
}