.headermenu{
    display:flex;
    justify-content: center;
    margin-top: 10px;
    &__lien{
        &__fleche{
            font-size:20px;
            margin-right: 50px;
        }
        &__image{
            height: 25px;
        }
    }
}