.mainmenu{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 11px 0px 0px 0px;
    &__image{
        height: 253px;
        object-fit: cover;
    }
    &__presentation{
        background: #f6f6f6;
        border-radius: 40px 40px 0px 0px;
        margin-top: -40px;
    }
    &__titre{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    &__francaise{
        font-size: 27px;
        font-family: 'Shrikhand', cursive;
        margin: 36px 0px 0px 20px;
    }
    &__coeur{
        font-size: 24px;
        height: 24px;
        margin: 38px 38px 0px 0px;
    }
    &__type{
        font-size: 19px;
        margin: 37px 0px 2px 20px;
    }
    &__hr{
        width: 30px;
        border: solid #99E2D0 2px;
        margin: 0px 0px 0px 20px;
    }
    &__choix{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 13px 0px 30px 0px;
        width: 100%;
    }
    .n1{
        animation-delay:100ms;
        @include affichagechoix;
    }
    .n2{
        animation-delay:200ms;
        @include affichagechoix;
    }
    .n3{
        animation-delay:300ms;
        @include affichagechoix;
    }
    .n4{
        animation-delay:400ms;
        @include affichagechoix;
    }
    &__choix1{
        display:flex;
        background: white;
        margin: 7px 0px;
        border-radius: 15px;
        box-shadow: 0px 0px 10px #00000033;
        justify-content: space-between;
        align-items: center;
        overflow:hidden;
        width: 93%;
        max-width: 350px;
        height: 69px;
    }
    &__contenu{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        //width: 69%;
        width: 93%;
        transition: 1000ms;
        height: 64%;
        justify-content: space-between;
    }
    &__nom{
        font-size: 16px;
        margin: 0px 0px 0px 10px;
        font-weight:bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__ingredients{
        font-size:14px;
        margin: 0px 0px 0px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__prixanimation{
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        overflow: hidden;
        height: 100%;
        margin-left: -70px;
        position: relative;
        left: 70px;
        z-index: 1;
        transition: 1000ms;
    }
    &__prix{
        font-size: 15px;
        margin: 0px 25px 15px 0px;
        font-weight: bold;
    }
    &__animation{
        height: 100%;
        width: 60px;
        display: flex;
        overflow: hidden;
        align-items: center;
        background: #99E2D0;
        justify-content: center;
    }
    &__yes{
        font-size:20px;
        color:white;
        overflow:hidden;
        transition: 1000ms;
    }
    &__divcommander{
        display:flex;
        justify-content: center;
        margin: 45px 0px 84px 0px;
    }
    &__commander{
        height: 50px;
        font-size: 17px;
        width: 186px;
        border-radius: 30px;
        border: none;
        background: linear-gradient(173deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
        color: white;
        box-shadow: 0px 0px 9px #00000069;
    }
    &__commander:hover{
        opacity:0.6;
        box-shadow: 0px 0px 9px black;
    }
}
.mainmenu__choix1:hover {
    .mainmenu__contenu {
        @include hovercontenu;
    }
    .mainmenu__prixanimation {
        @include hoverprixanimation;
    }
    .mainmenu__yes{
        @include animationyes;
    }
}