.main{
    display:flex;
    flex-direction: column;
    &__cadresup{
        display: flex;
        justify-content: center;
    }
    &__cadre{
        display:grid;
        grid-template-rows: 15.5% 84.5%;
        height: 338px;
        margin-top: 14px;
        width: 100%;
    }
    &__cadre1{
        background: linear-gradient(to top, rgb(234 234 234), rgb(234 234 234) 90%, #d5d5d5 100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__map{
        font-size:20px;
        height: 18px;
        margin-right: 20px;
    }
    &__paris{
        font-size: 15px;
        font-weight: bold;
    }
    &__cadre2{
        background: #f6f6f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 43px 20px 57px 20px;
        justify-content: space-between;
    }
    &__reservez{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin:0px;
    }
    &__decouvrez{
        font-size: 18px;
        text-align: center;
        margin:0px;
        position: relative;
        bottom: 10px;
    }
    &__explorer{
        height: 50px;
        font-size: 16px;
        width: 200px;
        border-radius: 30px;
        border: none;
        background: linear-gradient(173deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
        color: white;
        box-shadow: 0px 0px 9px #00000069;
    }
    &__explorer:hover{
        opacity: 0.6;
        box-shadow: 0px 0px 9px black;
    }
    &__fonctionnement{
        font-size:20px;
        font-weight:bold;
        margin: 54px 0px 0px 20px;
    }
    &__divfonctionnement{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 0px 0px 0px;
    }
    &__divsuperieur{
        display:flex;
        align-items: center;
        width: 100%;
        max-width: 376px;
        justify-content: center;
        justify-content: flex-end;
    }
    &__divnumero{
        display: flex;
        height: 26px;
        width: 26px;
        align-items: center;
        justify-content: center;
        background: #9356DC;
        border-radius: 100px;
        position: relative;
        right: 11%;
    }
    &__numero{
        font-size: 13px;
        margin: 0px;
        color: white;
    }
    &__divfonctionnement_div{
        height: 54px;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        background: #f7f7f7;
        margin: 10px 19px 10px 0px;
        padding: 10px 20px;
        border-radius: 15px;
        width: 76%;
        box-shadow: 0px 5px 13px 0px #0000003d;
    }
    &__mobile{
        font-size: 21px;
        height:16px;
        width:16px;
        color: grey;
    }
    &__choisissez{
        font-size:14px;
        margin: 0px 0px 0px 28px;
        font-weight:bold;
    }
    &__divmenu{
        display:flex;
        width:16px;
    }
    &__ellipse{
        font-size:16px;
        height:16px;
        color: grey;
    }
    &__bars{
        font-size:16px;
        height:16px;
        color: grey;
    }
    &__composez{
        font-size:14px;
        margin: 0px 0px 0px 28px;
        font-weight:bold;
    }
    &__magasin{
        font-size:16px;
        height:16px;
        width:16px;
        color: grey;
    }
    &__degustez{
        font-size:14px;
        margin: 0px 0px 0px 28px;
        font-weight:bold;
    }
    &__divfonctionnement_div:hover {
        background: #f3e5f5;
        .iconFonctionnement{
            color:#9356DC ;
        }
    }
    &__menus{
        background: #f6f6f6;
        margin-top: 59px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__restaurants{
        font-size: 20px;
        font-weight: bold;
        width: 88%;
        margin: 59px 0px 0px 0px;
    }
    &__menus1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 89%;
        margin-bottom: 43px;
    }
    &__liencarte {
        margin: 10px 20px;
        border-radius: 20px;
        width: 100%;
        max-width: 335px;
    }
    &__plats{
        display:flex;
        flex-direction: column;
        align-items: center;
        background: white;
        width: 100%;
        height: 252px;
        border-radius: 20px;
    }
    &__imageplats{
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        height: 180px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
        background-size: 100%;
    }
    &__nouveau {
        text-align: center;
        background: #99E2D0;
        color: green;
        width: 70px;
        padding: 6px;
        border-radius: 3px;
        font-weight: bold;
        margin: 14px;
    }
    &__presentation{
        display:flex;
        width: 100%;
        justify-content: space-between;
    }
    &__presentation2{
        display:flex;
        flex-direction:column;
        margin: 20px 0px 20px 14px;
    }
    &__nom{
        font-size:15px;
        margin: 2px 0px;
        font-weight:bold;
    }
    &__lieu{
        font-size:15px;
        margin: 2px 0px;
    }
    &__animationcoeur{
        height: 23px;
        width: 23px;
        margin:20px 20px 0px 0px;
    }
    &__animationcoeur1{
        display:none;
        height:20px;
        width:20px;
    }
    &__cache{
        height: 20px;
        width: 20px;
        background: white;
        position: relative;
        bottom: 20px;
    }
    &__coeur1 {
        font-size: 20px;
        height:20px;
        background: linear-gradient(357deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__coeur{
        font-size: 23px;
        height: 23px;
    }
}
.main__animationcoeur:hover {
    .main__coeur{
        display:none;
    }
    .main__animationcoeur1{
        display:initial;
    }
    .main__cache{
        @include animationcoeur;
    }
}