@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("images.css");
*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration:none;
    color:black;
    width: fit-content;
}
.loadingspinner{
    color:#9356DC;
    display:flex;
    justify-content:center;
    z-index:1;
    font-size:0px;
    position:relative;
    left:30%;
    top:200px;
    background:transparent;
    animation-name:spinner;
    animation-duration:1000ms;
    animation-iteration-count:3;
    @keyframes spinner {
        0%{
            font-size:200px;
            transform:rotate(360deg);
        }
        100%{
            font-size:200px;
            transform:rotate(-360deg);
        }
    }
}
header{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    animation-name:headers;
    animation-duration:3000ms;
    transform:scale(1);
    @keyframes headers {
        0%{
            transform:scale(0);
        }
        99%{
            transform:scale(0);
        }
        100%{
            transform:scale(1);
        }
    }
    .divimage{
        display:flex;
        justify-content:center;
        .logo{
            height: 25px;
        }
    }
}
main{
    display:flex;
    flex-direction: column;
    animation-name:mains;
    animation-duration:3000ms;
    transform:scale(1);
    @keyframes mains {
        0%{
            transform:scale(0);
        }
        99%{
            transform:scale(0);
        }
        100%{
            transform:scale(1);
        }
    }
    .cadresup{
        display: flex;
        justify-content: center;
        .cadre{
            display:grid;
            grid-template-rows: 15% 85%;
            height: 300px;
            margin-top: 20px;
            width: 100%;
            .cadre1{
                background: linear-gradient(to top, #d5d5d5, #d5d5d5 90%, #a7a7a7 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                .map{
                    font-size:20px;
                    height: 18px;
                    margin-right: 20px;
                }
                .paris{
                    font-size:18px;
                    font-weight: bold;
                }
            }
            .cadre2{
                background: #e6e5e5;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding:20px;
                justify-content:space-around;
                .reservez{
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    margin:0px;
                }
                .decouvrez{
                    font-size:16px;
                    text-align: center;
                    margin:0px;
                }
                .explorer{
                    height: 50px;
                    font-size: 16px;
                    width: 200px;
                    border-radius: 30px;
                    border: none;
                    background: linear-gradient(173deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
                    color: white;
                    box-shadow: 0px 0px 9px #00000069;
                }
                .explorer:hover{
                    opacity:0.9;
                    box-shadow: 0px 0px 9px black;
                }
            }
        }
    }
    .fonctionnement{
        font-size:20px;
        font-weight:bold;
        margin-left: 20px;
    }
    .divfonctionnement{
        display:flex;
        flex-direction: column;
        align-items: center;
        .divsuperieur{
            display:flex;
            align-items: center;
            .divnumero{
                display: flex;
                height: 30px;
                width: 30px;
                align-items: center;
                justify-content: center;
                background: #9356DC;
                border-radius: 100px;
                position: relative;
                left: 8%;
                .numero{
                    font-size: 20px;
                    margin: 0px;
                    color: white;
                }
            }
            .divfonctionnement_div{
                display:flex;
                align-items: center;
                background: #f7f7f7;
                margin: 10px;
                padding: 10px 20px;
                justify-content: space-evenly;
                border-radius: 15px;
                width: 210px;
                box-shadow: 0px 5px 13px 0px #0000003d;
                .mobile{
                    font-size: 16px;
                    height:16px;
                    width:16px;
                    color: grey;
                }
                .choisissez{
                    font-size:14px;
                    margin:10px;
                    font-weight:bold;
                }
                .divmenu{
                    display:flex;
                    width:16px;
                    .ellipse{
                        font-size:16px;
                        height:16px;
                        color: grey;
                    }
                    .bars{
                        font-size:16px;
                        height:16px;
                        color: grey;
                    }
                }
                .composez{
                    font-size:14px;
                    margin:10px;
                    font-weight:bold;
                }
                .magasin{
                    font-size:16px;
                    height:16px;
                    width:16px;
                    color: grey;
                }
                .degustez{
                    font-size:14px;
                    margin:10px;
                    font-weight:bold;
                }
            }
            .divfonctionnement_div:hover {
                background: #f3e5f5;
            }
        }
    }
    .menus{
        background: #e6e5e5;
        margin-top:40px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .restaurants{
            font-size: 20px;
            font-weight: bold;
            width: 100%;
        }
        .liencarte {
            margin: 20px;
            border-radius: 20px;
            .plats{
                display:flex;
                flex-direction: column;
                align-items: center;
                background: white;
                width: 280px;
                border-radius: 20px;
                .imageplats{
                    height: 180px;
                    width: 280px;
                    object-fit: cover;
                    border-radius: 20px 20px 0px 0px;
                    background-size: 100%;
                    .nouveau {
                        text-align: center;
                        background: #99E2D0;
                        color: green;
                        width: 70px;
                        padding: 6px;
                        border-radius: 3px;
                        font-weight: bold;
                        margin: 20px 0px 0px 180px;
                    }
                }
                .presentation{
                    display:flex;
                    width: 300px;
                    justify-content: space-between;
                    .presentation2{
                        display:flex;
                        flex-direction:column;
                        margin: 20px 110px 20px 20px;
                        .nom{
                            font-size:15px;
                            margin: 2px 0px;
                            font-weight:bold;
                        }
                        .lieu{
                            font-size:15px;
                            margin: 2px 0px;
                        }
                    }
                    .animationcoeur{
                        height:20px;
                        width:20px;
                        margin:20px 20px 0px 0px;
                        .animationcoeur1{
                            display:none;
                            height:20px;
                            width:20px;
                            .cache{
                                height: 20px;
                                width: 20px;
                                background: white;
                                position: relative;
                                bottom: 20px;
                            }
                            .coeur1 {
                                font-size: 20px;
                                height:20px;
                                background: linear-gradient(357deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                        }
                        .coeur{
                            font-size:20px;
                            height: 20px;
                        }
                    }
                    .animationcoeur:hover{
                        .coeur{
                            display:none;
                        }
                        .animationcoeur1{
                            display:initial;
                            .cache{
                                animation-name:jack;
                                animation-duration:2000ms;
                                transform-origin:50% 0%;
                                transform:scale(1,0);
                                @keyframes jack {
                                    from{
                                        transform:scale(1,1);
                                    }
                                    to{
                                        transform:scale(1,0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
footer{
    display:flex;
    background: #2d2d2d;
    flex-direction:column;
    justify-content:center;
    padding: 30px 0px 30px 0px;
    animation-name:footers;
    animation-duration:3000ms;
    transform:scale(1);
    @keyframes footers {
        0%{
            transform:scale(0);
        }
        99%{
            transform:scale(0);
        }
        100%{
            transform:scale(1);
        }
    }
    .divlogo{
        margin:0px 0px 20px 30px;
        img{
            height:20px;
        }
    }
    .logocontenu{
        display:flex;
        align-items: center;
        margin-left: 30px;
        .logo1{
            font-size:20px;
            height: 20px;
            color:white;
            width: 25px;
        }
        .contenu1{
            font-size:20px;
            height: 20px;
            color:white;
            margin:5px;
        }
    }
    .contenu{
        font-size:20px;
        margin-left: 30px;
        color:white;
        margin: 5px 5px 5px 30px;
    }
}
@media (min-width:400px){
    .loadingspinner{
        left:40%;
    }
    main{
        .divfonctionnement{
            flex-direction:row;
            flex-wrap:wrap;
            justify-content: center;
        }
        .menus{
            .menus1{
                flex-direction: row;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }
}