@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("images.css");
* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.loadingspinner {
  color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  font-size: 0px;
  position: relative;
  left: 30%;
  top: 200px;
  background: transparent;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes spinner {
  0% {
    font-size: 200px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    font-size: 200px;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spinner {
  0% {
    font-size: 200px;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    font-size: 200px;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: headers;
          animation-name: headers;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes headers {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes headers {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header .divimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .divimage .logo {
  height: 25px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: mains;
          animation-name: mains;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes mains {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes mains {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

main .cadresup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .cadresup .cadre {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% 85%;
      grid-template-rows: 15% 85%;
  height: 300px;
  margin-top: 20px;
  width: 100%;
}

main .cadresup .cadre .cadre1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#d5d5d5), color-stop(90%, #d5d5d5), to(#a7a7a7));
  background: linear-gradient(to top, #d5d5d5, #d5d5d5 90%, #a7a7a7 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cadresup .cadre .cadre1 .map {
  font-size: 20px;
  height: 18px;
  margin-right: 20px;
}

main .cadresup .cadre .cadre1 .paris {
  font-size: 18px;
  font-weight: bold;
}

main .cadresup .cadre .cadre2 {
  background: #e6e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .cadresup .cadre .cadre2 .reservez {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}

main .cadresup .cadre .cadre2 .decouvrez {
  font-size: 16px;
  text-align: center;
  margin: 0px;
}

main .cadresup .cadre .cadre2 .explorer {
  height: 50px;
  font-size: 16px;
  width: 200px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(173deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
  color: white;
  -webkit-box-shadow: 0px 0px 9px #00000069;
          box-shadow: 0px 0px 9px #00000069;
}

main .cadresup .cadre .cadre2 .explorer:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 9px black;
          box-shadow: 0px 0px 9px black;
}

main .fonctionnement {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

main .divfonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .divfonctionnement .divsuperieur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .divfonctionnement .divsuperieur .divnumero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #9356DC;
  border-radius: 100px;
  position: relative;
  left: 8%;
}

main .divfonctionnement .divsuperieur .divnumero .numero {
  font-size: 20px;
  margin: 0px;
  color: white;
}

main .divfonctionnement .divsuperieur .divfonctionnement_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  margin: 10px;
  padding: 10px 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 15px;
  width: 210px;
  -webkit-box-shadow: 0px 5px 13px 0px #0000003d;
          box-shadow: 0px 5px 13px 0px #0000003d;
}

main .divfonctionnement .divsuperieur .divfonctionnement_div .mobile {
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: grey;
}

main .divfonctionnement .divsuperieur .divfonctionnement_div .choisissez {
  font-size: 14px;
  margin: 10px;
  font-weight: bold;
}

main .divfonctionnement .divsuperieur .divfonctionnement_div .divmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
}

main .divfonctionnement .divsuperieur .divfonctionnement_div .divmenu .ellipse {
  font-size: 16px;
  height: 16px;
  color: grey;
}

main .divfonctionnement .divsuperieur .divfonctionnement_div .divmenu .bars {
  font-size: 16px;
  height: 16px;
  color: grey;
}

main .divfonctionnement .divsuperieur .divfonctionnement_div .composez {
  font-size: 14px;
  margin: 10px;
  font-weight: bold;
}

main .divfonctionnement .divsuperieur .divfonctionnement_div .magasin {
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: grey;
}

main .divfonctionnement .divsuperieur .divfonctionnement_div .degustez {
  font-size: 14px;
  margin: 10px;
  font-weight: bold;
}

main .divfonctionnement .divsuperieur .divfonctionnement_div:hover {
  background: #f3e5f5;
}

main .menus {
  background: #e6e5e5;
  margin-top: 40px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .menus .restaurants {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

main .menus .liencarte {
  margin: 20px;
  border-radius: 20px;
}

main .menus .liencarte .plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 280px;
  border-radius: 20px;
}

main .menus .liencarte .plats .imageplats {
  height: 180px;
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  background-size: 100%;
}

main .menus .liencarte .plats .imageplats .nouveau {
  text-align: center;
  background: #99E2D0;
  color: green;
  width: 70px;
  padding: 6px;
  border-radius: 3px;
  font-weight: bold;
  margin: 20px 0px 0px 180px;
}

main .menus .liencarte .plats .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .menus .liencarte .plats .presentation .presentation2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 110px 20px 20px;
}

main .menus .liencarte .plats .presentation .presentation2 .nom {
  font-size: 15px;
  margin: 2px 0px;
  font-weight: bold;
}

main .menus .liencarte .plats .presentation .presentation2 .lieu {
  font-size: 15px;
  margin: 2px 0px;
}

main .menus .liencarte .plats .presentation .animationcoeur {
  height: 20px;
  width: 20px;
  margin: 20px 20px 0px 0px;
}

main .menus .liencarte .plats .presentation .animationcoeur .animationcoeur1 {
  display: none;
  height: 20px;
  width: 20px;
}

main .menus .liencarte .plats .presentation .animationcoeur .animationcoeur1 .cache {
  height: 20px;
  width: 20px;
  background: white;
  position: relative;
  bottom: 20px;
}

main .menus .liencarte .plats .presentation .animationcoeur .animationcoeur1 .coeur1 {
  font-size: 20px;
  height: 20px;
  background: linear-gradient(357deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .menus .liencarte .plats .presentation .animationcoeur .coeur {
  font-size: 20px;
  height: 20px;
}

main .menus .liencarte .plats .presentation .animationcoeur:hover .coeur {
  display: none;
}

main .menus .liencarte .plats .presentation .animationcoeur:hover .animationcoeur1 {
  display: initial;
}

main .menus .liencarte .plats .presentation .animationcoeur:hover .animationcoeur1 .cache {
  -webkit-animation-name: jack;
          animation-name: jack;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
}

@-webkit-keyframes jack {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
}

@keyframes jack {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2d2d2d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0px 30px 0px;
  -webkit-animation-name: footers;
          animation-name: footers;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes footers {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes footers {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  99% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer .divlogo {
  margin: 0px 0px 20px 30px;
}

footer .divlogo img {
  height: 20px;
}

footer .logocontenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

footer .logocontenu .logo1 {
  font-size: 20px;
  height: 20px;
  color: white;
  width: 25px;
}

footer .logocontenu .contenu1 {
  font-size: 20px;
  height: 20px;
  color: white;
  margin: 5px;
}

footer .contenu {
  font-size: 20px;
  margin-left: 30px;
  color: white;
  margin: 5px 5px 5px 30px;
}

@media (min-width: 400px) {
  .loadingspinner {
    left: 40%;
  }
  main .divfonctionnement {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .menus .menus1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=Accueil.css.map */