.palettegout {
    background: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.noteenchantee {
    background: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.lafrancaise {
    background: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.delicesens {
    background: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}