@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.headermenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headermenu__lien__fleche {
  font-size: 20px;
  margin-right: 50px;
}

.headermenu__lien__image {
  height: 25px;
}

.mainmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0px 0px 0px;
}

.mainmenu__image {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainmenu__presentation {
  background: #e3e3e3;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
  padding: 20px;
}

.mainmenu__presentation__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainmenu__presentation__titre__francaise {
  font-size: 20px;
  font-family: 'Shrikhand', cursive;
}

.mainmenu__presentation__titre__coeur {
  font-size: 20px;
  height: 20px;
}

.mainmenu__presentation__type {
  font-size: 15px;
  margin: 2px 0px;
}

.mainmenu__presentation__hr {
  width: 30px;
  border: solid #99E2D0 2px;
  margin: 0px;
}

.mainmenu__presentation__choix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0px;
}

.mainmenu__presentation__choix .n1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-animation-name: toto;
          animation-name: toto;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

@-webkit-keyframes toto {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes toto {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.mainmenu__presentation__choix .n2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-animation-name: toto;
          animation-name: toto;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

@keyframes toto {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.mainmenu__presentation__choix .n3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-animation-name: toto;
          animation-name: toto;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

@keyframes toto {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.mainmenu__presentation__choix__choix1 {
  max-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  margin: 10px 0px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 10px #00000033;
          box-shadow: 0px 0px 10px #00000033;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  max-width: 244px;
}

.mainmenu__presentation__choix__choix1__contenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 189px;
}

.mainmenu__presentation__choix__choix1__contenu__nom {
  font-size: 13px;
  margin: 2px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainmenu__presentation__choix__choix1__contenu__ingredients {
  font-size: 11px;
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainmenu__presentation__choix__choix1__prixanimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  width: 35px;
  z-index: 1;
}

.mainmenu__presentation__choix__choix1__prixanimation__prix {
  font-size: 10px;
  margin: 10px;
  font-weight: bold;
}

.mainmenu__presentation__choix__choix1__prixanimation__animation {
  height: 55px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99E2D0;
}

.mainmenu__presentation__choix__choix1__prixanimation__animation__yes {
  display: none;
  font-size: 20px;
  color: white;
  overflow: hidden;
  margin-left: 25px;
}

.mainmenu__presentation__choix__choix1:hover .mainmenu__presentation__choix__choix1__prixanimation {
  width: 150px;
  -webkit-animation-name: titi;
          animation-name: titi;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

@-webkit-keyframes titi {
  from {
    width: 35px;
  }
  to {
    width: 150px;
  }
}

@keyframes titi {
  from {
    width: 35px;
  }
  to {
    width: 150px;
  }
}

.mainmenu__presentation__choix__choix1:hover .mainmenu__presentation__choix__choix1__prixanimation__animation__yes {
  display: initial;
  -webkit-animation-name: coco;
          animation-name: coco;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

@-webkit-keyframes coco {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes coco {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.mainmenu__presentation__choix__choix1:not(:hover) .mainmenu__presentation__choix__choix1__prixanimation {
  -webkit-animation-name: tito;
          animation-name: tito;
  width: 35px;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

@-webkit-keyframes tito {
  from {
    width: 150px;
  }
  to {
    width: 35px;
  }
}

@keyframes tito {
  from {
    width: 150px;
  }
  to {
    width: 35px;
  }
}

.mainmenu__presentation__choix__choix1:not(:hover) .mainmenu__presentation__choix__choix1__prixanimation__animation__yes {
  display: initial;
}

.mainmenu__presentation__divcommander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0px 90px 0px;
}

.mainmenu__presentation__divcommander__commander {
  height: 50px;
  font-size: 17px;
  width: 220px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(173deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
  color: white;
  -webkit-box-shadow: 0px 0px 9px #00000069;
          box-shadow: 0px 0px 9px #00000069;
}

.mainmenu__presentation__divcommander__commander:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 9px black;
          box-shadow: 0px 0px 9px black;
}

.footermenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2d2d2d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0px 30px 0px;
  margin: 0px;
}

.footermenu__divlogo {
  margin: 0px 0px 20px 30px;
}

.footermenu__divlogo__logo {
  height: 20px;
}

.footermenu__logocontenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.footermenu__logocontenu__logo1 {
  font-size: 20px;
  height: 20px;
  color: white;
  width: 25px;
}

.footermenu__logocontenu__contenu1 {
  font-size: 20px;
  height: 20px;
  color: white;
  margin: 5px;
}

.footermenu__contenu {
  font-size: 20px;
  margin-left: 30px;
  color: white;
  margin: 5px 5px 5px 30px;
}

.footermenu__lien {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footermenu__lien__contenu {
  font-size: 20px;
  margin-left: 30px;
  color: white;
  margin: 5px 5px 5px 30px;
}

@media (min-width: 400px) {
  .mainmenu__presentation__choix {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainmenu__presentation__choix__choix1 {
    margin: 10px 10px;
  }
}
/*# sourceMappingURL=Menu.css.map */