@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  width: fit-content;
}

.loadingspinner {
  color: #9356DC;
  text-align: center;
  z-index: 2;
  width: 100%;
  font-size: 0px;
  margin-top: 0%;
  background: transparent;
  animation-name: spinner;
  animation-duration: 1000ms;
  animation-iteration-count: 3;
}
@keyframes spinner {
  0% {
    margin-top: 50%;
    font-size: 200px;
    transform: rotate(360deg);
  }
  100% {
    margin-top: 50%;
    font-size: 200px;
    transform: rotate(-360deg);
  }
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation-name: fond;
  animation-duration: 3000ms;
  transform: scale(1);
}
@keyframes fond {
  0% {
    transform: scale(0);
  }
  99% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.header__divimage {
  display: flex;
  justify-content: center;
}
.header__divimage__logo {
  height: 25px;
}

.headermenu {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.headermenu__lien__fleche {
  font-size: 20px;
  margin-right: 50px;
}
.headermenu__lien__image {
  height: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  animation-name: fond;
  animation-duration: 3000ms;
  transform: scale(1);
}
@keyframes fond {
  0% {
    transform: scale(0);
  }
  99% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.main__cadresup {
  display: flex;
  justify-content: center;
}
.main__cadresup__cadre {
  display: grid;
  grid-template-rows: 15% 85%;
  height: 300px;
  margin-top: 20px;
  width: 100%;
}
.main__cadresup__cadre__cadre1 {
  background: linear-gradient(to top, #d5d5d5, #d5d5d5 90%, #a7a7a7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__cadresup__cadre__cadre1__map {
  font-size: 20px;
  height: 18px;
  margin-right: 20px;
}
.main__cadresup__cadre__cadre1__paris {
  font-size: 18px;
  font-weight: bold;
}
.main__cadresup__cadre__cadre2 {
  background: #e6e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}
.main__cadresup__cadre__cadre2__reservez {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}
.main__cadresup__cadre__cadre2__decouvrez {
  font-size: 16px;
  text-align: center;
  margin: 0px;
}
.main__cadresup__cadre__cadre2__explorer {
  height: 50px;
  font-size: 16px;
  width: 200px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(173deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
  color: white;
  box-shadow: 0px 0px 9px #00000069;
}
.main__cadresup__cadre__cadre2__explorer:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 9px black;
}
.main__fonctionnement {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.main__divfonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__divfonctionnement__divsuperieur {
  display: flex;
  align-items: center;
}
.main__divfonctionnement__divsuperieur__divnumero {
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  background: #9356DC;
  border-radius: 100px;
  position: relative;
  left: 8%;
}
.main__divfonctionnement__divsuperieur__divnumero__numero {
  font-size: 20px;
  margin: 0px;
  color: white;
}
.main__divfonctionnement__divsuperieur__divfonctionnement_div {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  margin: 10px;
  padding: 10px 20px;
  justify-content: space-evenly;
  border-radius: 15px;
  width: 210px;
  box-shadow: 0px 5px 13px 0px #0000003d;
}
.main__divfonctionnement__divsuperieur__divfonctionnement_div__mobile {
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: grey;
}
.main__divfonctionnement__divsuperieur__divfonctionnement_div__choisissez {
  font-size: 14px;
  margin: 10px;
  font-weight: bold;
}
.main__divfonctionnement__divsuperieur__divfonctionnement_div__divmenu {
  display: flex;
  width: 16px;
}
.main__divfonctionnement__divsuperieur__divfonctionnement_div__divmenu__ellipse {
  font-size: 16px;
  height: 16px;
  color: grey;
}
.main__divfonctionnement__divsuperieur__divfonctionnement_div__divmenu__bars {
  font-size: 16px;
  height: 16px;
  color: grey;
}
.main__divfonctionnement__divsuperieur__divfonctionnement_div__composez {
  font-size: 14px;
  margin: 10px;
  font-weight: bold;
}
.main__divfonctionnement__divsuperieur__divfonctionnement_div__magasin {
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: grey;
}
.main__divfonctionnement__divsuperieur__divfonctionnement_div__degustez {
  font-size: 14px;
  margin: 10px;
  font-weight: bold;
}
.main__divfonctionnement__divsuperieur__divfonctionnement_div:hover {
  background: #f3e5f5;
}
.main__menus {
  background: #e6e5e5;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__menus__restaurants {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}
.main__menus__menus1__liencarte {
  margin: 20px;
  border-radius: 20px;
}
.main__menus__menus1__liencarte__plats {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 280px;
  border-radius: 20px;
}
.main__menus__menus1__liencarte__plats__imageplats {
  height: 180px;
  width: 280px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  background-size: 100%;
}
.main__menus__menus1__liencarte__plats__imageplats__nouveau {
  text-align: center;
  background: #99E2D0;
  color: green;
  width: 70px;
  padding: 6px;
  border-radius: 3px;
  font-weight: bold;
  margin: 20px 0px 0px 180px;
}
.main__menus__menus1__liencarte__plats__presentation {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.main__menus__menus1__liencarte__plats__presentation__presentation2 {
  display: flex;
  flex-direction: column;
  margin: 20px 110px 20px 20px;
}
.main__menus__menus1__liencarte__plats__presentation__presentation2__nom {
  font-size: 15px;
  margin: 2px 0px;
  font-weight: bold;
}
.main__menus__menus1__liencarte__plats__presentation__presentation2__lieu {
  font-size: 15px;
  margin: 2px 0px;
}
.main__menus__menus1__liencarte__plats__presentation__animationcoeur {
  height: 20px;
  width: 20px;
  margin: 20px 20px 0px 0px;
}
.main__menus__menus1__liencarte__plats__presentation__animationcoeur__animationcoeur1 {
  display: none;
  height: 20px;
  width: 20px;
}
.main__menus__menus1__liencarte__plats__presentation__animationcoeur__animationcoeur1__cache {
  height: 20px;
  width: 20px;
  background: white;
  position: relative;
  bottom: 20px;
}
.main__menus__menus1__liencarte__plats__presentation__animationcoeur__animationcoeur1__coeur1 {
  font-size: 20px;
  height: 20px;
  background: linear-gradient(357deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__menus__menus1__liencarte__plats__presentation__animationcoeur__coeur {
  font-size: 20px;
  height: 20px;
}
.main__menus__menus1__liencarte__plats__presentation__animationcoeur:hover .main__menus__menus1__liencarte__plats__presentation__animationcoeur__coeur {
  display: none;
}
.main__menus__menus1__liencarte__plats__presentation__animationcoeur:hover .main__menus__menus1__liencarte__plats__presentation__animationcoeur__animationcoeur1 {
  display: initial;
}
.main__menus__menus1__liencarte__plats__presentation__animationcoeur:hover .main__menus__menus1__liencarte__plats__presentation__animationcoeur__animationcoeur1__cache {
  animation-name: jack;
  animation-duration: 2000ms;
  transform-origin: 50% 0%;
  transform: scale(1, 0);
}
@keyframes jack {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1, 0);
  }
}

.mainmenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
}
.mainmenu__image {
  height: 200px;
  object-fit: cover;
}
.mainmenu__presentation {
  background: #e3e3e3;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
  padding: 20px;
}
.mainmenu__presentation__titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainmenu__presentation__titre__francaise {
  font-size: 20px;
  font-family: "Shrikhand", cursive;
}
.mainmenu__presentation__titre__coeur {
  font-size: 20px;
  height: 20px;
}
.mainmenu__presentation__type {
  font-size: 15px;
  margin: 2px 0px;
}
.mainmenu__presentation__hr {
  width: 30px;
  border: solid #99E2D0 2px;
  margin: 0px;
}
.mainmenu__presentation__choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}
.mainmenu__presentation__choix .n1 {
  animation-delay: 100ms;
  opacity: 1;
  transform: translate(0px, 0px);
  animation-name: toto;
  animation-duration: 1000ms;
}
@keyframes toto {
  0% {
    opacity: 0;
    transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.mainmenu__presentation__choix .n2 {
  animation-delay: 200ms;
  opacity: 1;
  transform: translate(0px, 0px);
  animation-name: toto;
  animation-duration: 1000ms;
}
@keyframes toto {
  0% {
    opacity: 0;
    transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.mainmenu__presentation__choix .n3 {
  animation-delay: 300ms;
  opacity: 1;
  transform: translate(0px, 0px);
  animation-name: toto;
  animation-duration: 1000ms;
}
@keyframes toto {
  0% {
    opacity: 0;
    transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.mainmenu__presentation__choix__choix1 {
  max-height: 55px;
  display: flex;
  background: white;
  margin: 10px 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000033;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  width: 244px;
}
.mainmenu__presentation__choix__choix1__contenu {
  display: flex;
  flex-direction: column;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
  transition: 1000ms;
}
.mainmenu__presentation__choix__choix1__contenu__nom {
  font-size: 13px;
  margin: 2px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainmenu__presentation__choix__choix1__contenu__ingredients {
  font-size: 11px;
  margin: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainmenu__presentation__choix__choix1__prixanimation {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  overflow: hidden;
  margin-left: -70px;
  position: relative;
  left: 70px;
  z-index: 1;
  transition: 1000ms;
}
.mainmenu__presentation__choix__choix1__prixanimation__prix {
  font-size: 10px;
  margin: 10px;
  font-weight: bold;
  width: 16px;
}
.mainmenu__presentation__choix__choix1__prixanimation__animation {
  height: 55px;
  width: 70px;
  display: flex;
  overflow: hidden;
  align-items: center;
  background: #99E2D0;
}
.mainmenu__presentation__choix__choix1__prixanimation__animation__yes {
  font-size: 20px;
  color: white;
  overflow: hidden;
  margin-left: 25px;
  transition: 1000ms;
}
.mainmenu__presentation__choix__choix1:hover .mainmenu__presentation__choix__choix1__contenu {
  width: 120px;
  animation-name: titi;
  animation-duration: 1000ms;
}
@keyframes titi {
  from {
    width: 190px;
  }
  to {
    width: 120px;
  }
}
.mainmenu__presentation__choix__choix1:hover .mainmenu__presentation__choix__choix1__prixanimation {
  position: relative;
  left: 0px;
  animation-name: prixanimation;
  animation-duration: 1000ms;
}
@keyframes prixanimation {
  from {
    position: relative;
    left: 70px;
  }
  to {
    position: relative;
    left: 0px;
  }
}
.mainmenu__presentation__choix__choix1:hover .mainmenu__presentation__choix__choix1__prixanimation__animation__yes {
  animation-name: coco;
  animation-duration: 1000ms;
}
@keyframes coco {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainmenu__presentation__divcommander {
  display: flex;
  justify-content: center;
  margin: 50px 0px 90px 0px;
}
.mainmenu__presentation__divcommander__commander {
  height: 50px;
  font-size: 17px;
  width: 220px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(173deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
  color: white;
  box-shadow: 0px 0px 9px #00000069;
}
.mainmenu__presentation__divcommander__commander:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 9px black;
}

.footer {
  display: flex;
  background: #2d2d2d;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px 30px 0px;
  animation-name: fond;
  animation-duration: 3000ms;
  transform: scale(1);
}
@keyframes fond {
  0% {
    transform: scale(0);
  }
  99% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.footer__divlogo {
  margin: 0px 0px 20px 30px;
}
.footer__divlogo__logo {
  height: 20px;
}
.footer__logocontenu {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.footer__logocontenu__logo1 {
  font-size: 20px;
  height: 20px;
  color: white;
  width: 25px;
}
.footer__logocontenu__contenu1 {
  font-size: 20px;
  height: 20px;
  color: white;
  margin: 5px;
}
.footer__contenu {
  font-size: 20px;
  margin-left: 30px;
  color: white;
  margin: 5px 5px 5px 30px;
}
.footer__lien {
  width: fit-content;
}
.footer__lien__contenu {
  font-size: 20px;
  margin-left: 30px;
  color: white;
  margin: 5px 5px 5px 30px;
}

.footermenu {
  display: flex;
  background: #2d2d2d;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
  margin: 0px;
}
.footermenu__divlogo {
  margin: 0px 0px 20px 30px;
}
.footermenu__divlogo__logo {
  height: 20px;
}
.footermenu__logocontenu {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.footermenu__logocontenu__logo1 {
  font-size: 20px;
  height: 20px;
  color: white;
  width: 25px;
}
.footermenu__logocontenu__contenu1 {
  font-size: 20px;
  height: 20px;
  color: white;
  margin: 5px;
}
.footermenu__contenu {
  font-size: 20px;
  margin-left: 30px;
  color: white;
  margin: 5px 5px 5px 30px;
}
.footermenu__lien {
  width: fit-content;
}
.footermenu__lien__contenu {
  font-size: 20px;
  margin-left: 30px;
  color: white;
  margin: 5px 5px 5px 30px;
}

/*.palettegout {
    background: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: 100%;
}
.noteenchantee {
    background: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: 100%;
}
.lafrancaise {
    background: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: 100%;
}
.delicesens {
    background: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: 100%;
}*/
.palettegout {
  background: url(/P3_bennaceur_mehdi/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: 100%;
}

.noteenchantee {
  background: url(/P3_bennaceur_mehdi/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: 100%;
}

.lafrancaise {
  background: url(/P3_bennaceur_mehdi/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: 100%;
}

.delicesens {
  background: url(/P3_bennaceur_mehdi/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: 100%;
}

@media (min-width: 400px) {
  .loadingspinner {
    left: 40%;
  }

  .main__divfonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__menus__menus1 {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 400px) {
  .mainmenu__presentation__choix {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mainmenu__presentation__choix__choix1 {
    margin: 10px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
