@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  width: fit-content;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
}

.divLoadingSpinner {
  height: 0%;
  width: 0%;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  background: white;
  animation-name: divSpinner;
  animation-duration: 3000ms;
}
@keyframes divSpinner {
  0% {
    height: 100%;
    width: 100%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

.loadingspinner {
  color: #9356DC;
  text-align: center;
  font-size: 0px;
  margin-top: 200px;
  background: transparent;
  animation-name: spinner;
  animation-duration: 1000ms;
  animation-iteration-count: 3;
}
@keyframes spinner {
  0% {
    font-size: 200px;
    transform: rotate(360deg);
  }
  100% {
    font-size: 200px;
    transform: rotate(-360deg);
  }
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.header__divimage {
  display: flex;
  justify-content: center;
}
.header__logo {
  height: 25px;
}

.headermenu {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  max-width: 376px;
}
.headermenu__fleche {
  font-size: 20px;
  margin-left: 22px;
}
.headermenu__image {
  height: 25px;
  margin-right: 30%;
}

.main {
  display: flex;
  flex-direction: column;
}
.main__cadresup {
  display: flex;
  justify-content: center;
}
.main__cadre {
  display: grid;
  grid-template-rows: 15.5% 84.5%;
  height: 338px;
  margin-top: 14px;
  width: 100%;
}
.main__cadre1 {
  background: linear-gradient(to top, #eaeaea, #eaeaea 90%, #d5d5d5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__map {
  font-size: 20px;
  height: 18px;
  margin-right: 20px;
}
.main__paris {
  font-size: 15px;
  font-weight: bold;
}
.main__cadre2 {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 20px 57px 20px;
  justify-content: space-between;
}
.main__reservez {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}
.main__decouvrez {
  font-size: 18px;
  text-align: center;
  margin: 0px;
  position: relative;
  bottom: 10px;
}
.main__explorer {
  height: 50px;
  font-size: 16px;
  width: 200px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(173deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
  color: white;
  box-shadow: 0px 0px 9px #00000069;
}
.main__explorer:hover {
  opacity: 0.6;
  box-shadow: 0px 0px 9px black;
}
.main__fonctionnement {
  font-size: 20px;
  font-weight: bold;
  margin: 54px 0px 0px 20px;
}
.main__divfonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0px 0px 0px;
}
.main__divsuperieur {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 376px;
  justify-content: center;
  justify-content: flex-end;
}
.main__divnumero {
  display: flex;
  height: 26px;
  width: 26px;
  align-items: center;
  justify-content: center;
  background: #9356DC;
  border-radius: 100px;
  position: relative;
  right: 11%;
}
.main__numero {
  font-size: 13px;
  margin: 0px;
  color: white;
}
.main__divfonctionnement_div {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #f7f7f7;
  margin: 10px 19px 10px 0px;
  padding: 10px 20px;
  border-radius: 15px;
  width: 76%;
  box-shadow: 0px 5px 13px 0px #0000003d;
}
.main__mobile {
  font-size: 21px;
  height: 16px;
  width: 16px;
  color: grey;
}
.main__choisissez {
  font-size: 14px;
  margin: 0px 0px 0px 28px;
  font-weight: bold;
}
.main__divmenu {
  display: flex;
  width: 16px;
}
.main__ellipse {
  font-size: 16px;
  height: 16px;
  color: grey;
}
.main__bars {
  font-size: 16px;
  height: 16px;
  color: grey;
}
.main__composez {
  font-size: 14px;
  margin: 0px 0px 0px 28px;
  font-weight: bold;
}
.main__magasin {
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: grey;
}
.main__degustez {
  font-size: 14px;
  margin: 0px 0px 0px 28px;
  font-weight: bold;
}
.main__divfonctionnement_div:hover {
  background: #f3e5f5;
}
.main__divfonctionnement_div:hover .iconFonctionnement {
  color: #9356DC;
}
.main__menus {
  background: #f6f6f6;
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__restaurants {
  font-size: 20px;
  font-weight: bold;
  width: 88%;
  margin: 59px 0px 0px 0px;
}
.main__menus1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 89%;
  margin-bottom: 43px;
}
.main__liencarte {
  margin: 10px 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 335px;
}
.main__plats {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 100%;
  height: 252px;
  border-radius: 20px;
}
.main__imageplats {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  background-size: 100%;
}
.main__nouveau {
  text-align: center;
  background: #99E2D0;
  color: green;
  width: 70px;
  padding: 6px;
  border-radius: 3px;
  font-weight: bold;
  margin: 14px;
}
.main__presentation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main__presentation2 {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 14px;
}
.main__nom {
  font-size: 15px;
  margin: 2px 0px;
  font-weight: bold;
}
.main__lieu {
  font-size: 15px;
  margin: 2px 0px;
}
.main__animationcoeur {
  height: 23px;
  width: 23px;
  margin: 20px 20px 0px 0px;
}
.main__animationcoeur1 {
  display: none;
  height: 20px;
  width: 20px;
}
.main__cache {
  height: 20px;
  width: 20px;
  background: white;
  position: relative;
  bottom: 20px;
}
.main__coeur1 {
  font-size: 20px;
  height: 20px;
  background: linear-gradient(357deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__coeur {
  font-size: 23px;
  height: 23px;
}

.main__animationcoeur:hover .main__coeur {
  display: none;
}
.main__animationcoeur:hover .main__animationcoeur1 {
  display: initial;
}
.main__animationcoeur:hover .main__cache {
  animation-name: coeur;
  animation-duration: 2000ms;
  transform-origin: 50% 0%;
  transform: scale(1, 0);
}
@keyframes coeur {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1, 0);
  }
}

.mainmenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 11px 0px 0px 0px;
}
.mainmenu__image {
  height: 253px;
  object-fit: cover;
}
.mainmenu__presentation {
  background: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
}
.mainmenu__titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainmenu__francaise {
  font-size: 27px;
  font-family: "Shrikhand", cursive;
  margin: 36px 0px 0px 20px;
}
.mainmenu__coeur {
  font-size: 24px;
  height: 24px;
  margin: 38px 38px 0px 0px;
}
.mainmenu__type {
  font-size: 19px;
  margin: 37px 0px 2px 20px;
}
.mainmenu__hr {
  width: 30px;
  border: solid #99E2D0 2px;
  margin: 0px 0px 0px 20px;
}
.mainmenu__choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 13px 0px 30px 0px;
  width: 100%;
}
.mainmenu .n1 {
  animation-delay: 100ms;
  opacity: 1;
  transform: translate(0px, 0px);
  animation-name: toto;
  animation-duration: 1000ms;
}
@keyframes toto {
  0% {
    opacity: 0;
    transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.mainmenu .n2 {
  animation-delay: 200ms;
  opacity: 1;
  transform: translate(0px, 0px);
  animation-name: toto;
  animation-duration: 1000ms;
}
@keyframes toto {
  0% {
    opacity: 0;
    transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.mainmenu .n3 {
  animation-delay: 300ms;
  opacity: 1;
  transform: translate(0px, 0px);
  animation-name: toto;
  animation-duration: 1000ms;
}
@keyframes toto {
  0% {
    opacity: 0;
    transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.mainmenu .n4 {
  animation-delay: 400ms;
  opacity: 1;
  transform: translate(0px, 0px);
  animation-name: toto;
  animation-duration: 1000ms;
}
@keyframes toto {
  0% {
    opacity: 0;
    transform: translate(0px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.mainmenu__choix1 {
  display: flex;
  background: white;
  margin: 7px 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000033;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 93%;
  max-width: 350px;
  height: 69px;
}
.mainmenu__contenu {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 93%;
  transition: 1000ms;
  height: 64%;
  justify-content: space-between;
}
.mainmenu__nom {
  font-size: 16px;
  margin: 0px 0px 0px 10px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainmenu__ingredients {
  font-size: 14px;
  margin: 0px 0px 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainmenu__prixanimation {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  margin-left: -70px;
  position: relative;
  left: 70px;
  z-index: 1;
  transition: 1000ms;
}
.mainmenu__prix {
  font-size: 15px;
  margin: 0px 25px 15px 0px;
  font-weight: bold;
}
.mainmenu__animation {
  height: 100%;
  width: 60px;
  display: flex;
  overflow: hidden;
  align-items: center;
  background: #99E2D0;
  justify-content: center;
}
.mainmenu__yes {
  font-size: 20px;
  color: white;
  overflow: hidden;
  transition: 1000ms;
}
.mainmenu__divcommander {
  display: flex;
  justify-content: center;
  margin: 45px 0px 84px 0px;
}
.mainmenu__commander {
  height: 50px;
  font-size: 17px;
  width: 186px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(173deg, #FF79DA, #FF79DA 10%, #9356DC 100%);
  color: white;
  box-shadow: 0px 0px 9px #00000069;
}
.mainmenu__commander:hover {
  opacity: 0.6;
  box-shadow: 0px 0px 9px black;
}

.mainmenu__choix1:hover .mainmenu__contenu {
  width: 66%;
  animation-name: titi;
  animation-duration: 1000ms;
}
@keyframes titi {
  from {
    width: 93%;
  }
  to {
    width: 66%;
  }
}
.mainmenu__choix1:hover .mainmenu__prixanimation {
  position: relative;
  left: 0px;
  animation-name: prixanimation;
  animation-duration: 1000ms;
}
@keyframes prixanimation {
  from {
    position: relative;
    left: 70px;
  }
  to {
    position: relative;
    left: 0px;
  }
}
.mainmenu__choix1:hover .mainmenu__yes {
  animation-name: coco;
  animation-duration: 1000ms;
}
@keyframes coco {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  display: flex;
  background: #2d2d2d;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px 30px 0px;
}
.footer__divlogo {
  margin: 0px 0px 20px 30px;
}
.footer__logo {
  height: 20px;
}
.footer__logocontenu {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.footer__logo1 {
  font-size: 20px;
  height: 20px;
  color: white;
  width: 25px;
}
.footer__contenu1 {
  font-size: 20px;
  height: 20px;
  color: white;
  margin: 5px;
}
.footer__contenu {
  font-size: 20px;
  margin-left: 30px;
  color: white;
  margin: 5px 5px 5px 30px;
}
.footer__lien {
  width: fit-content;
}
.footer__contenu {
  font-size: 20px;
  margin-left: 30px;
  color: white;
  margin: 5px 5px 5px 30px;
}

/*.palettegout {
    background: url(/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: 100%;
}
.noteenchantee {
    background: url(/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: 100%;
}
.lafrancaise {
    background: url(/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: 100%;
}
.delicesens {
    background: url(/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: 100%;
}*/
.palettegout {
  background: url(/MehdiBenNaceur_3_04102021/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: 100%;
}

.noteenchantee {
  background: url(/MehdiBenNaceur_3_04102021/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: 100%;
}

.lafrancaise {
  background: url(/MehdiBenNaceur_3_04102021/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: 100%;
}

.delicesens {
  background: url(/MehdiBenNaceur_3_04102021/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: 100%;
}

@media (min-width: 400px) {
  .loadingspinner {
    left: 40%;
  }

  .main__divfonctionnement {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .main__liencarte {
    margin: 10px 0px;
  }
}
@media (min-width: 400px) {
  .mainmenu__choix {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mainmenu__choix1 {
    margin: 10px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
