.divLoadingSpinner {
    height:0%;
    width:0%;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    background: white;
    @include divLoadingSpinner;
}
.loadingspinner {
    color: #9356DC;
    text-align: center;
    font-size: 0px;
    margin-top: 200px;
    background: transparent;
    @include loadingspinner;
}