@media (min-width:400px){
    .mainmenu{
        &__choix{
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:center;
        }
        &__choix1{
            margin:10px 10px;
        }
    }
}