@media (min-width:400px){
    .loadingspinner{
        left:40%;
    }
    .main{
        &__divfonctionnement{
            flex-direction:row;
            flex-wrap:wrap;
            justify-content: center;
        }
    }
}