@media (min-width:400px){
    .loadingspinner{
        left:40%;
    }
    .main{
        &__divfonctionnement{
            flex-direction:row;
            flex-wrap:wrap;
            justify-content: center;
        }
    }
}
@media (max-width:700px){
    .main__liencarte{
        margin: 10px 0px;
    }
}